.detalji-osobe {
    text-align: center;
    margin-top: 20px;
  }
  
  .detalji-osobe img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  .detalji-osobe h1 {
    font-size: 24px;
    margin: 20px 0;
  }
  
  .detalji-osobe p {
    font-size: 18px;
    margin: 10px 0;
  }
  