<main>
    <div class="tekst_lijevo">
       <ul>
          <li>Ime i prezime: Lucija Polak</li>
          <li>Email: lpolak22&#64;student.foi.hr</li>
       </ul>
    </div>
    <div class="tekst_lijevo">
       <img src="../../assets/slika_iksica.jpeg" alt="slika_iksica" width="300">
       <br>
    </div>
    <div class="tekst_lijevo">
       <a href="../../assets/baza1.png" target="_blank">
       <img src="../../assets/baza1.png" alt="baza1" width="300">
       </a>
       <a href="../../assets/baza2.png" target="_blank">
       <img src="../../assets/baza2.png" alt="baza2" width="300">
       </a>
    </div>
    <table>
       <tr>
          <th>Resurs<br>Parametri</th>
          <th>GET<br>čitanje</th>
          <th>POST<br>kreiranje</th>
          <th>PUT<br>ažuriranje</th>
          <th>DELETE<br>brisanje</th>
       </tr>
       <tr>
          <td>servis/korisnici</td>
          <td>napravljeno</td>
          <td>napravljeno</td>
          <td>napravljeno</td>
          <td>napravljeno</td>
       </tr>
       <tr>
          <td>servis/korisnici/"{{'{'}}"korime"{{'}'}}"</td>
          <td>napravljeno</td>
          <td>napravljeno</td>
          <td>napravljeno</td>
          <td>napravljeno</td>
       </tr>
       <tr>
          <td>servis/osoba?stranica=broj</td>
          <td>napravljeno</td>
          <td>napravljeno</td>
          <td>napravljeno</td>
          <td>napravljeno</td>
       </tr>
       <tr>
          <td>servis/osoba/"{{'{'}}"id"{{'}'}}"</td>
          <td>napravljeno</td>
          <td>napravljeno</td>
          <td>napravljeno</td>
          <td>napravljeno</td>
       </tr>
       <tr>
          <td>servis/osoba/"{{'{'}}"id"{{'}'}}"/film?stranica=broj</td>
          <td>napravljeno</td>
          <td>napravljeno</td>
          <td>napravljeno</td>
          <td>napravljeno</td>
       </tr>
       <tr>
          <td>servis/film?stranica=broj&[datumOd=timestamp&datumDo=timestamp]</td>
          <td>napravljeno</td>
          <td>napravljeno</td>
          <td>napravljeno</td>
          <td>napravljeno</td>
       </tr>
       <tr>
          <td>servis/film/"{{'{'}}"id"{{'}'}}"</td>
          <td>napravljeno</td>
          <td>napravljeno</td>
          <td>napravljeno</td>
          <td>napravljeno</td>
       </tr>
    </table>
    <div></div>
    <div></div>
    <table>
       <tr>
          <th>Uloga</th>
          <th>Struktura</th>
          <th>Opis</th>
       </tr>
       <tr>
          <td>Gost</td>
          <td>Početna</td>
          <td>napravljeno</td>
       </tr>
       <tr>
          <td>Gost</td>
          <td>Dokumentacija</td>
          <td>napravljeno</td>
       </tr>
       <tr>
          <td>Gost</td>
          <td>Prijava, Odjava</td>
          <td>napravljeno</td>
       </tr>
       <tr>
          <td>Gost</td>
          <td>Registracija</td>
          <td>napravljeno</td>
       </tr>
       <tr>
          <td>Korisnik</td>
          <td>Pocetna</td>
          <td>napravljeno</td>
       </tr>
       <tr>
          <td>Korisnik</td>
          <td>Osobe</td>
          <td>napravljeno</td>
       </tr>
       <tr>
          <td>Korisnik</td>
          <td>Detalji</td>
          <td>napravljeno</td>
       </tr>
       <tr>
          <td>Admin</td>
          <td>Korisnici</td>
          <td>napravljeno</td>
       </tr>
       <tr>
          <td>Admin</td>
          <td>Dodavanje</td>
          <td>napravljeno</td>
       </tr>
    </table>
    <h2>Druga zadaća</h2>
    <ol>
       <li><span class="podebljano">Napravljeno</span> ažuriranje tablice i dijelovi iz prve zadaće</li>
       <li><span class="podebljano">Napravljena</span> lista po koracima</li>
       <li><span class="podebljano">Napravljeno</span> ugrađivanje dokumentacije unutar angular aplikacije</li>
       <li><span class="podebljano">Napravljeno</span> da radi pomocu npm run naredbi</li>
       <li><span class="podebljano">Napravljeno</span> te radi sve na localhost:12222</li>
       <li><span class="podebljano">Napravljeno</span> brisanje ključeva od TMDB-a</li>
       <li><span class="podebljano">Napravljeno</span> korištenje putanje /app</li>
       <li><span class="podebljano">Napravljeno</span> prebacivanje u Angular sa TypeScript-om i SCSS-om</li>
       <li><span class="podebljano">Napravljena</span> korištenje fetch zahtjeva</li>
       <li><span class="podebljano">Napravljeno</span> čitanje informacije o bazičnoj adresi i portu iz environment datoteke</li>
       <li><span class="podebljano">Napravljeno</span> korištenje SCSS-a za uređivanje stranica</li>
       <li><span class="podebljano">Napravljena</span> reCaptcha v3</li>
       <li><span class="podebljano">Napravljena</span> stranica aktiviranja dvorazinske autentifikacije i tajni kljuc</li>
       <li><span class="podebljano">Napravljena</span> prijava autentifikacija u dvije razine</li>
       <li><span class="podebljano">Napravljena</span> svaka uloga koja nema TOTP i navedeni podaci</li>
       <li><span class="podebljano">Napravljeno</span> filtriranje po datumima</li>
       <li><span class="podebljano">Nije napravljeno</span> dodatni bodovi: upload vlastitih slika</li>
    </ol>
 </main>