$zelena-glavna: rgb(0, 152, 102);
$boja-bijela: white;
$color_7: blue;
$background-bez: bisque;
$background-crna: #333;

h1 {
  padding-top: 0;
  font-size: 5rem;
  text-align: center;
  color: $zelena-glavna;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $background-bez;
}

footer {
  margin-top: 2%;
  padding: 10px;
  background-color: $background-crna;
  color: $boja-bijela;
  text-align: center;
}


.tekst_lijevo {
  float: left;
  padding: 2%;
}

.sredina {
  align-content: center;
}
