<main>
  <h1>Dobrodošli, {{korisnik.ime}}</h1>
  <p><span class="label">Ime i prezime:</span> {{ korisnik.ime || 'Nepoznato' }} {{ korisnik.prezime || 'Nepoznato' }}</p>
  <p><span class="label">Adresa:</span> {{ korisnik.adresa || 'Nepoznato' }}</p>
  <p><span class="label">Korisničko ime:</span> {{ korisnik.korime || 'Nepoznato' }}</p>
  <p><span class="label">Email:</span> {{ korisnik.email || 'Nepoznato' }}</p>
  <p><span class="label">Broj telefona:</span> {{ korisnik.broj_telefona || 'Nepoznato' }}</p>
  <p><span class="label">Datum rođenja:</span> {{ korisnik.datum_rodena || 'Nepoznato' }}</p>
  <p><span class="label">Status:</span>
    <span id="status">
      {{ korisnik.status === 0 || korisnik.status === null ? 'Nema statusa' : korisnik.status === 1 ? 'Ima statusa' : 'Nepoznato' }}
    </span>
  </p>
  <button id="posaljiZahtjev" style="display: none;">Pošalji zahtjev za korištenje servisa</button>
</main>
