<header>
    <h1>Filmovi</h1>
    <nav>
        <a routerLink="/">Početna</a>
        <a routerLink="/dokumentacija">Dokumentacija</a>
        <a routerLink="/osobe">Osobe</a>
        <a routerLink="/dodavanje">Dodavanje</a>
        <a routerLink="/filtriranje-filmova">Pretraži filmove</a>
        <a routerLink="/korisnici">Korisnici</a>
        <a routerLink="/prijava">Prijava</a>
        <a routerLink="/registracija">Registracija</a>
        <a href="#" (click)="odjaviKorisnika()" *ngIf="korisnikPrijavljen()">Odjava</a>
    </nav>
</header>

<main>
    <router-outlet></router-outlet>
</main>
