<header>
    <h1>Filmovi</h1>
    <nav>
      <ng-container *ngIf="prikaziStraniceAdmin()">
        <a routerLink="/">Početna</a>
        <a routerLink="/korisnici">Korisnici</a>
        <a routerLink="/dodavanje">Dodavanje</a>
        <a routerLink="/filtriranje_filmova">Filtriranje filmova</a>
        <a href="#" (click)="odjaviKorisnika()">Odjava</a>
      </ng-container>
  
      <ng-container *ngIf="prikaziStraniceKorisnik()">
        <a routerLink="/">Početna</a>
        <a routerLink="/osobe">Osobe</a>
        <a routerLink="/filtriranje_filmova">Filtriranje filmova</a>
        <a href="#" (click)="odjaviKorisnika()">Odjava</a>
      </ng-container>
  
      <ng-container *ngIf="!korisnikPrijavljen()">
        <a routerLink="/">Početna</a>
        <a routerLink="/prijava">Prijava</a>
        <a routerLink="/registracija">Registracija</a>
      </ng-container>
    </nav>
  </header>
  
  <main>
    <router-outlet></router-outlet>
  </main>
  